.custom-blue
    background-color: $sky-blue !important;
    border-color: $sky-blue !important;
.custom-purple
    background-color: $purple-O !important;
    border-color: $purple-O !important; 
.filter-gray
    background-color: $filter-gray !important;
    border-color: $filter-gray !important;
.filter-green
    background-color: $filter-green !important;
    border-color: $filter-green !important;
.weed-green
    background-color: $weed-green !important;
    border-color: $weed-green !important;
.weed-green--active
    background-color: $weed-green !important;
    border-color: $weed-green !important;
    color: white !important;
    & i
      color: white !important;     